body {
    background-color: red;
}

h3 {
    color: yellowgreen;
}

.btn {
    width: 50px;
    height: 100px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: aqua;
}